body {
    margin: 0 !important;
    padding: 0 !important;
}

.red {
    border: 1px solid red;
}

.green {
    border: 1px solid green;
}

.banner {
    border: 1px solid red;
    height: 200px;
    max-width: 100%;
    position: relative;
    background-color: bisque;
    padding: 20px;

    .about-sign-in {
        height: 80px;
        width: 100%;
        text-align: right;
        border: none;

        .about,
        .sign-in {
            text-decoration: none;
            text-align: right;
            padding: 7px 15px;
            margin-left: 25px;
            text-transform: uppercase;
            border-radius: 25px;
            border: 5px solid green;
        }
    }

    .logo {
        background-image: url('./logo.svg');
        padding-bottom: 50px;
        height: auto;
        width: auto;
        background-repeat: no-repeat;
    }

    .Text-noidung {
        text-align: center;
        color: green;
        text-transform: uppercase;
        font-weight: bold;
    }

    .Text-noidung span {
        color: red;
    }
}